body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:450px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:25px;
  width:768px;
  height:450px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:68px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:80px;
  width:718px;
  height:68px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:95px;
  width:128px;
  height:38px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:95px;
  width:128px;
  height:38px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:95px;
  width:128px;
  height:38px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:95px;
  width:128px;
  height:38px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:95px;
  width:128px;
  height:38px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
