body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:407px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:18px;
  width:768px;
  height:407px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:336px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:55px;
  width:186px;
  height:336px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:87px;
  width:81px;
  height:35px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:87px;
  width:81px;
  height:35px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:236px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:142px;
  width:156px;
  height:236px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
