body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:407px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:18px;
  width:768px;
  height:407px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:149px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:218px;
  width:113px;
  height:149px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 174, 2, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:349px;
  width:93px;
  height:40px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
