body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:407px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:18px;
  width:768px;
  height:407px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:346px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:65px;
  width:735px;
  height:346px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:165px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:22px;
  color:#0D9CE1;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:146px;
  width:205px;
  height:169px;
  font-size:22px;
  color:#0D9CE1;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:201px;
  word-wrap:break-word;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 51, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:22px;
  color:#0D9CE1;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:146px;
  width:205px;
  height:169px;
  font-size:22px;
  color:#0D9CE1;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:201px;
  word-wrap:break-word;
}
