body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:66px;
  width:100px;
  height:60px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:66px;
  width:100px;
  height:60px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:96px;
  width:0px;
  height:0px;
  color:#0066CC;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:136px;
  width:100px;
  height:30px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u86_ref {
  border-width:0px;
  position:absolute;
  left:334px;
  top:156px;
  width:1px;
  height:1px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:172px;
  width:100px;
  height:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u88_ref {
  border-width:0px;
  position:absolute;
  left:334px;
  top:192px;
  width:1px;
  height:1px;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:208px;
  width:100px;
  height:30px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u90_ref {
  border-width:0px;
  position:absolute;
  left:334px;
  top:228px;
  width:1px;
  height:1px;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:244px;
  width:100px;
  height:30px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u92_ref {
  border-width:0px;
  position:absolute;
  left:334px;
  top:264px;
  width:1px;
  height:1px;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:280px;
  width:100px;
  height:30px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u94_ref {
  border-width:0px;
  position:absolute;
  left:334px;
  top:300px;
  width:1px;
  height:1px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:126px;
  width:0px;
  height:0px;
  color:#0066CC;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:21px;
  width:22px;
  height:8px;
}
#u96_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:15px;
  width:20px;
  height:20px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:126px;
  width:0px;
  height:0px;
  color:#0066CC;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:57px;
  width:22px;
  height:8px;
}
#u98_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:51px;
  width:20px;
  height:20px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:126px;
  width:0px;
  height:0px;
  color:#0066CC;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:93px;
  width:22px;
  height:8px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:87px;
  width:20px;
  height:20px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:126px;
  width:0px;
  height:0px;
  color:#0066CC;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:137px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:129px;
  width:22px;
  height:8px;
}
#u102_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:123px;
  width:20px;
  height:20px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:126px;
  width:0px;
  height:0px;
  color:#0066CC;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:173px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:165px;
  width:22px;
  height:8px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:159px;
  width:20px;
  height:20px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:72px;
  width:29px;
  height:16px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2263px;
  height:476px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:2263px;
  height:476px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:230px;
  width:2259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:316px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:705px;
  width:1529px;
  height:316px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:1525px;
  visibility:hidden;
  word-wrap:break-word;
}
