body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:450px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:27px;
  width:768px;
  height:450px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:230px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:157px;
  width:698px;
  height:230px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:107px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:111px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:165px;
  width:267px;
  height:111px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:111px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:165px;
  width:142px;
  height:111px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:111px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:165px;
  width:142px;
  height:111px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:298px;
  width:90px;
  height:90px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:319px;
  width:1px;
  height:50px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:343px;
  width:50px;
  height:1px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:68px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:80px;
  width:718px;
  height:68px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:95px;
  width:128px;
  height:38px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:95px;
  width:128px;
  height:38px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:95px;
  width:128px;
  height:38px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:95px;
  width:128px;
  height:38px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:95px;
  width:128px;
  height:38px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
